<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd ">

	<context:component-scan base-package="com.tamajit" />
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="emp1" class="com.tamajit.bean.Employee">
		<property name="id" value="${emp1.id}"></property>
		<property name="name" value="${emp1.name}"></property>
	</bean>
	
	<bean
		class=" org.springframework.context.support.PropertySourcesPlaceholderConfigurer">

		<property name="locations">
			<list>
				<value>myProp1.properties</value>
				<value>classpath:myProp2.properties</value>
				<value>file:c:/myProp3.properties</value>
				<value>WEB-INF/myProp4.properties</value>
			</list>
		</property>
	<property name="ignoreResourceNotFound" value="true" />
	<property name="ignoreUnresolvablePlaceholders" value="true" />

	</bean>
</beans>